.about {
  width: 100%;
  margin-bottom: -17px;

  @media @tablet {
    margin-bottom: 84px;
  }

  @media @desktop {
    margin-bottom: 90px;
  }
}

.about__title {
  margin-bottom: 86px;

  @media @tablet {
    margin-bottom: 102px;
  }

  @media @desktop {
    padding-left: 222px;
  }
}

.about__features-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  .list-reset;

  @media @tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media @desktop {
    padding-left: 225px;
  }
}

.about__item {
  position: relative;
  margin-bottom: 83px;
  .set-font(17px; 20px);
  color: @titles;
  font-weight: 700;

  &:last-child {
    margin-bottom: 0;
  }

  @media @tablet {
    .set-font(20px; 22px);
    width: 50%;
    margin-bottom: 112px;

    &:nth-child(4n-1) {
      margin-bottom: 0;
    }

    &--price {
      order: 2;
    }

    &--likes {
      order: 4;
    }

    &--love {
      order: 1;
    }

    &--support {
      order: 3;
    }

    &--packing {
      order: 5;
    }
  }

  @media @desktop {
    width: 37.8%;
  }

  &::before {
    position: absolute;
    content: "";
    width: 55px;
    height: 37px;
    top: 0;
    left: 0;
    transform: translate(-9%, -148%);
    background-position: center;
    background-repeat: no-repeat;
  }

  &--ecology::before {
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--price::before {
    background-image: url("../img/icon-feature-money.svg");
  }

  &--likes::before {
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--love::before {
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--support::before {
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--packing::before {
    background-image: url("../img/icon-feature-gift.svg");
  }
}
