.button {
  display: block;
  width: 100%;
  margin: 0 auto;
  .set-paddings(0.82em; 0.59em; 0.82em; 0.59em);
  .set-font(17px; 20px);
  font-weight: 700;
  color: @text;
  text-align: center;
  text-transform: uppercase;
  background-color: @background-basic;
  border: 2px solid @text;
  cursor: pointer;
  .transition;

  &:hover {
    color: @background-basic;
    background-color: @text;
  }

  &:active {
    color: fadeout(@background-basic; 70%);
    background-color: @text;
    outline: transparent;
  }

  &--green {
    .set-paddings(0.9em; 0; 0.9em; 0);
    color: @background-basic;
    background-color: @accent-primary;
    line-height: 16px;
    border: 2px solid @accent-primary;

    &:active,
    &:focus,
    &:hover {
      background-color: @accent-primary-hover;
      outline: transparent;
    }
  }
}
