.form-page__title {
  margin-top: 0;
  margin-bottom: 22px;
  .set-paddings(2.6em; 0; 2.8em; 0);
  background-color: @page-title-background;
}

.form-page__request {
  display: block;
  .wrapper-basic-mobile(@width: 81%);
  margin-bottom: 24px;
  .set-font(13px; 24px);
}
