.main-page-footer {
  margin-bottom: 38px;
}

.main-page-footer__wrapper {
  width: 100%;
  margin-bottom: 38px;
}

.main-page-footer__map-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 35px;

  &::after {
    position: absolute;
    content: "";
    left: 43.1%;
    bottom: 46%;
    width: 67px;
    height: 100px;
    background-image: url("../img/icon-map-pin.svg");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }
}

.main-page-footer__button {
  width: 80%;
}
