.main-page-footer {
  width: 100%;
  margin-bottom: 38px;

  @media @desktop {
    display: flex;
    flex-wrap: wrap;
  }

  @media @desktop {
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 105px;
  }
}

.main-page-footer__map-container {
  position: relative;
  width: 100%;
  margin-bottom: 35px;

  &::after {
    position: absolute;
    content: "";
    left: 43.1%;
    bottom: 46%;
    width: 67px;
    height: 100px;
    background-image: url("../img/icon-map-pin.svg");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }

  @media @desktop {
    width: 50%;
    height: 457px;
    margin-bottom: 0;
  }
}

.main-page-footer__button {
  width: 80%;

  @media @tablet {
    width: 230px;
  }

  @media @desktop {
    margin: 0;
    margin-top: -50px;
    margin-left: 125px;
  }
}
