.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .wrapper-basic-mobile(100%);
  .set-paddings(25px; 0; 32px; 0);
  background-color: @page-title-background;
}

.page-footer__social {
  .wrapper-basic-mobile(60%);
  margin-bottom: 24px;
}

.page-footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 81.25%;
  margin: 0;
  padding-bottom: 24px;
  @color: fadeout(@text, 90%);
  border-bottom: 1px solid @color;
  .list-reset;
}

.page-footer__social-item {
  margin-right: 28px;

  &:last-child {
    margin-right: 0;
  }
}

.page-footer__social-link {
  display: block;
  width: 32px;
  height: 32px;
  .text-indent;
  background-repeat: no-repeat;
  background-position: center;
  // Иконки здесь временно, потом, видимо, поставлю в html:
  &--instagram {
    background-image: url("../img/icon-insta.svg");
  }

  &--facebook {
    background-image: url("../img/icon-fb.svg");
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }
}

.page-footer__copyright {
  width: 57%;
  margin-top: 26px;
}

.page-footer__copyright-link {
  .set-font(19px; 18px);
  font-weight: 700;
  color: @titles;
}
