.products {
  margin-bottom: 34px;

  @media @tablet {
    margin-bottom: 42px;
  }

  @media @desktop {
    margin-bottom: 116px;
  }
}

.products__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 489px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-color: @image-fallback;
  background-position: center -15%;
  background-repeat: no-repeat;

  @media @tablet {
    min-height: 685px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-color: @image-fallback;
    background-position: center top;
    z-index: -1;
    margin-top: -80px;
  }

  @media @desktop {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-color: @image-fallback;
  }

  &::after {
    content: none;
    position: absolute;
    left: 0;
    right: 0;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;

    @media @tablet {
      content: "";
      bottom: -12px;
      height: 24px;
      background-size: 772px 24px;
      background-position-x: 0;
    }

    @media @desktop {
      bottom: -17px;
      height: 34px;
      background-size: auto 37px;
      background-position-x: 12px;
    }
  }
}

.products__title {
  display: block;
  max-width: 77%;
  margin: 0 auto;
  margin-bottom: auto;
  padding-top: 2.62em;
  .set-font(27px; 30px);
  color: @page-title;
  font-weight: 700;
  text-align: center;

  @media @tablet {
    min-width: 77%;
    padding-top: 3.7em;
    .set-font(43px; 50px);
  }

  @media @desktop {
    padding-top: 2.9em;
    .set-font(53px; 57px);
  }
}

.products__list {
  width: 100%;
  .list-reset;

  @media @tablet {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.products__item {
  width: 100%;

  @media @tablet {
    width: 50%;
  }
}

.products__link {
  display: flex;
  align-items: center;
  position: relative;
  .set-paddings(1.4em; 1.48em; 1.5em; 1.48em);
  .set-font(19px; 24px);
  font-weight: 700;
  color: @background-basic;
  .transition;

  @media @tablet {
    .set-font(20px; 30px);
    .set-paddings(28px; 35px; 31px; 35px);
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
  }

  &::after {
    position: absolute;
    content: "";
    right: 8%;
    width: 60px;
    height: 62px;
    transform: translateY(4%);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
  }

  &:hover {
    transform: translateY(-5px);

    &::before {
      bottom: -5px;
      height: 5px;
    }

    &::after {
      opacity: 0.7;
    }
  }

  &:active {
    color: fade(@background-basic; 70%);

    &::after {
      opacity: 0.3;
    }
  }

  &--interior {
    background-color: @accent-primary;

    &::before {
      background-color: @accent-primary-hover;
    }

    &::after {
      background-image: url("../img/icon-interior.svg");
    }

    &:hover,
    &:active {
      background-color: @accent-primary-hover;
    }
  }

  &--toys {
    background-color: @accent-secondary;

    &::before {
      background-color: @accent-secondary-hover;
    }

    &::after {
      background-image: url("../img/icon-toy.svg");
    }

    &:hover,
    &:active {
      background-color: @accent-secondary-hover;
    }
  }
}

// Почему не работает хувер на планшете и дальше?
