.reviews {
  position: relative;
  width: 100%;
  margin-bottom: 86px;
  padding-top: 72px;

  @media @tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 164px;
    padding-top: 76px;
    background-image: url("../img/review@1x.jpg");
    background-position: left top;
    background-repeat: no-repeat;
  }

  @media @desktop {
    width: 1050px;
    margin-bottom: 158px;
    padding-top: 70px;
    padding-right: 0;
    padding-bottom: 70px;
  }

  &::after {
    content: "";
    position: absolute;
    height: 7px;
    left: 0;
    right: 0;
    bottom: -52px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 320px 7px;
    background-position-x: -8px;
    background-repeat: repeat-x;

    @media @tablet {
      height: 17px;
      bottom: -102px;
      background-size: 768px 17px;
      background-position-x: -20px;
    }

    @media @desktop {
      height: 23px;
      bottom: -88px;
      background-size: 1050px 21px;
      background-position-x: -25px;
    }
  }
}

.reviews__title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 23px;

  @media @tablet {
    width: 60%;
    margin-bottom: 32px;
  }

  @media @desktop {
    padding-left: 175px;
  }
}

.reviews__item {
  width: 100%;
  margin: 0;

  @media @tablet {
    order: 1;
  }

  @media @desktop {
    width: 980px;
    padding-left: 175px;
  }
}

.reviews__text {
  width: 100%;
  .set-font(15px; 30px);
  font-weight: 400;
  margin-bottom: 28px;

  @media @tablet {
    width: 96%;
    font-size: 17px;
    margin-bottom: 56px;
  }

  @media @desktop {
    margin-bottom: 37px;
  }
}

.reviews__author-name {
  width: 100%;
  display: inline-block;
  margin-bottom: 4px;
  .set-font(17px; 24px);
  font-weight: 700;
  font-style: normal;
  color: @titles;
  vertical-align: middle;

  @media @tablet {
    width: 55%;
    font-size: 18px;
  }
}

.reviews__author-link {
  width: 100%;
  display: inline-block;
  margin-bottom: 28px;
  .set-font(17px; 30px);
  font-weight: 400;
  vertical-align: middle;
  color: @text;
  .transition;

  &:hover {
    color: @accent-secondary-hover;
  }

  &:active {
    color: fadeout(@accent-secondary-hover; 70%);
  }

  @media @tablet {
    width: 55%;
  }
}

.reviews__toggles {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 38px;

  @media @tablet {
    width: 175px;
    margin-top: -84px;
    margin-left: auto;
    margin-bottom: 0;
    order: 1;
  }
}

.reviews__toggle {
  position: relative;
  width: 50%;
  height: 52px;
  padding: 0;
  .text-indent;
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid @border;
  cursor: pointer;

  &--left {
    border-right-color: transparent;

    &::after {
      background-image: url("../img/icon-left-arrow.svg");
    }
  }

  &--right {
    &::after {
      background-image: url("../img/icon-right-arrow.svg");
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 26px;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: 50px 26px;
  }

  &:hover::after {
    opacity: 0.6;
  }

  &:active::after,
  &:focus::after {
    opacity: 0.3;
  }

  @media @tablet {
    border-color: transparent;
  }
}

.reviews__button {
  width: 100%;

  @media @tablet {
    width: 175px;
    margin: 0;
    margin-top: 1px;
    margin-bottom: auto;
  }

  @media @desktop {
    margin-top: 8px;
  }
}
