.user-list {
  @media @tablet {
    display: flex;
    justify-content: flex-end;
    width: 52.5%;
    margin-left: 47.5%;
    background-color: @background-basic;
  }

  @media @desktop {
    width: 33.3%;
    margin-left: 0;
    order: 1;
  }
}

.user-list__item {
  width: 100%;
  .set-paddings(1.75em; 0; 1.9em; 2em);
  .outer-shadow;
  .inner-shadow;

  @media @tablet {
    .set-paddings(2.05em; 0; 2.2em; 0);
    text-align: right;
    border-left: 1px solid @border;
    box-shadow: none;
  }

  @media @desktop {
    padding-right: 0;
  }

  &--search {
    @media @tablet {
      width: 23.5%;
    }
  }

  &--cart {
    @media @tablet {
      width: 76.5%;
    }
  }
}

.user-list__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  .set-font(17px; 24px);
  font-weight: 700;
  color: @titles;
  .transition;

  &:hover {
    color: fadeout(@titles; 40%);
  }

  &:active {
    color: fadeout(@titles; 70%);
  }

  &:hover .user-list__link-image {
    fill: @accent-primary;
  }

  &:active .user-list__link-image {
    opacity: 0.3;
  }

  @media @tablet {
    &--cart {
      justify-content: flex-end;
    }
  }

  @media @desktop {
    font-size: 17px;
  }
}

.user-list__link-text {
  width: 80%;

  &--search {
    @media @tablet {
      display: none;
    }
  }

  &--cart-status {
    margin-left: 6px;
  }
}

.user-list__link-image {
  width: 21px;
  height: 18px;
  margin-right: 24px;
  order: -1;
  fill: @menu-icon;

  &--cart {
    @media @tablet {
      margin-right: 1px;
    }
  }

  &--search {
    @media @tablet {
      margin: 0 auto;
      margin-top: 4px;
    }
  }
}
