@black: #000000;
@very-dark-brown: #010000;
@greyish-brown: #444444;
@grey: #f1f1f1;
@white: #ffffff;
@white-two: #ececec;
@seafoam-blue: #63d1bb;
@seafoam-blue-hover: #59d5bc;
@greeny-blue: #56c3b2;
@greeny-blue-hover: #46c1ae;
