.weekly-product__wrapper {
  .wrapper-basic-mobile;
  margin-bottom: 69px;
}

.weekly-product__title {
  display: inline-block;
  margin: 0;
  .set-font(17px; 20px);
  color: @seafoam-blue;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
}

.weekly-product__name {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.weekly-product__description {
  .set-margins(0; auto; 19px; 0);
}

.weekly-product__table {
  width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;
}

.weekly-product__table-characteristics {
  width: 38%;
}

.weekly-product__table-characteristics,
.weekly-product__table-value {
  .set-paddings(0.5em; 0; 0.5em; 0);
  border-bottom: 1px solid @white-two;
}

.weekly-product__image-container {
  margin-bottom: 25px;
}

.weekly-product__price {
  display: block;
  width: 50%;
  margin: 0 auto 26px;
  .set-font(17px; 24px);
  font-weight: 700;
  color: @greyish-brown;
}
